{
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [
                "ie >= 9"
              ]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": 10
            }
          }
        ]
      ]
    }
  }
}
