{
  "env": {
    "browser": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": ["ie >= 9"]
            },
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-object-assign"]
    },
    "node": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": 12
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
